<div class="margin-top-10">
    <div class="pull-right margin-bottom-5">
        <button class="btn btn-sm blue  btn-small" type="button" (click)="addItem()">
            <i class="fa fa-plus"></i> Add
        </button>
    </div>
    <div class="table-scrollable">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Pathology No</th>
                    <th>Date of tissue</th>
                    <th>Site of Resection or Biopsy</th>
                    <th>Morphology <small>(ICD-O)</small></th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr [hidden]="pathoList?.length > 0">
                    <td class="text-center" colspan="6">
                        {{ 'msg.noRecordFound' | translate }}
                    </td>
                </tr>
                <tr [hidden]="pathoList?.length == 0" *ngFor="let patho of pathoList; let i = index; trackBy: trackByFn;">
                    <td class="text-center" style="width: 15%">{{ patho.pathologyNo }}</td>
                    <td class="text-center" style="width: 15%">{{ patho.tissueReportDate | dateFormat:['DD MMM YYYY'] }}</td>
                    <td style="width: 20%">{{ patho.resectionBiopsySite }}</td>
                    <td>{{ patho.morphology?.code + ': ' + patho.morphology?.name }}</td>
                    <td class="text-center" style="width: 80px">
                        <a href="javascript:;" class="btn btn-outline dark btn-sm" (click)="editItem(i, patho)">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                    <td class="text-center" style="width: 80px">
                        <a href="javascript:;" class="btn btn-outline red btn-sm" (click)="deleteItem(i)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
