<div class="margin-top-10">
    <div class="pull-right margin-bottom-5">
        <button class="btn btn-sm blue btn-small" type="button" (click)="addItem()">
            <i class="fa fa-plus"></i> Add
        </button>
    </div>
    <div class="table-scrollable">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Vital Status</th>
                    <th>Date of Last Followup</th>
                    <th>Date of Death</th>
                    <th>Date of Record</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr [hidden]="survivalFollowupList?.length > 0">
                    <td class="text-center" colspan="6">
                        {{ 'msg.noRecordFound' | translate }}
                    </td>
                </tr>
                <tr [hidden]="survivalFollowupList?.length == 0" *ngFor="let survivalFollowup of survivalFollowupList; let i = index; trackBy: trackByFn;">
                    <td class="text-center">{{ survivalFollowup.vitalStatus?.name }}</td>
                    <td class="text-center" style="width: 20%">{{ survivalFollowup.lastFollowupDate | dateFormat:['DD MMM YYYY'] }}</td>
                    <td class="text-center" style="width: 20%">{{ survivalFollowup.deathDate | dateFormat:['DD MMM YYYY'] }}</td>
                    <td class="text-center" style="width: 20%">{{ survivalFollowup.recordDate | dateFormat:['DD MMM YYYY'] }}</td>
                    <td class="text-center" style="width: 80px">
                        <a href="javascript:;" class="btn btn-outline dark btn-sm" (click)="editItem(i, survivalFollowup)">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                    <td class="text-center" style="width: 80px">
                        <a href="javascript:;" class="btn btn-outline red btn-sm" (click)="deleteItem(i)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>