<div class="row">
    <div class="col-md-8 text-center">
        <div class="figure" (click)="viewImage('How to create clinical data ', 'run-onco-clinical-data-management-01')">
            <img [attr.src]="getThumbnail('run-onco-clinical-data-management-01')" class="img-fluid" />
            <div class="caption">Click to enlarge image</div>
        </div>
        <strong>Figure 1</strong>
    </div>
    <div class="col-md-4">
        <blockquote>
            <span>
            <label class="font-bold">Figure 1</label>: Screenshots demonstrating how to access clinical data form.
            (A) First, click on the "Clinical Data" link from the top menu bar.
             To create new clinical data, click "+ Add" button on the top right of table,
             and (B) enter existing HN (e.g., HN620001), then click "+ Add" button.
        </span>
        </blockquote>
    </div>
</div>
<div class="row margin-top-10">
    <div class="col-md-8 text-center">
        <div class="figure" (click)="viewImage('How to create pathological diagnosis', 'run-onco-clinical-data-management-02')">
            <img [attr.src]="getThumbnail('run-onco-clinical-data-management-02')" class="img-fluid" />
            <div class="caption">Click to enlarge image</div>
        </div>
        <strong>Figure 2</strong>
    </div>
    <div class="col-md-4">
        <blockquote>
            <span>
                <label class="font-bold">Figure 2</label>: Screenshots demonstrating how to access diagnosis form.
                (A) click on "+ Add" button to add new diagnosis.
            </span>
        </blockquote>
    </div>
</div>
<div class="row margin-top-10">
    <div class="col-md-8 text-center">
        <div class="figure" (click)="viewImage('How to create pathological diagnosis', 'run-onco-clinical-data-management-03')">
            <img [attr.src]="getThumbnail('run-onco-clinical-data-management-03')" class="img-fluid" />
            <div class="caption">Click to enlarge image</div>
        </div>
        <strong>Figure 3</strong>
    </div>
    <div class="col-md-4">
        <blockquote>
            <span>
                <label class="font-bold">Figure 3</label>: Screenshots  demonstrating how to add pathological diagnosis.
                (A) enter diagnosis, (B) add pathological diagnosis by clicking the "+ Add" button,
                and (C) the pathological data is automatically updated.
            </span>
        </blockquote>
    </div>
</div>
