<div class="row">
    <div class="col-md-8 text-center">
        <div class="figure" (click)="viewImage('How to access patient information page', 'run-onco-patient-management-01')">
            <img [attr.src]="getThumbnail('run-onco-patient-management-01')" class="img-fluid" />
            <div class="caption">Click to enlarge image</div>
        </div>
        <strong>Figure 1</strong>
    </div>
    <div class="col-md-4">
        <blockquote>
            <span>
                <label class="font-bold">Figure 1</label>: Screenshots demonstrating to access patient information page.
                (A) First, click on the "Patient" link from the top menu bar,
                (B) to create a patient information, click "+ Add" button on the top right of table.
            </span>
        </blockquote>
    </div>
</div>
<div class="row margin-top-10">
    <div class="col-md-8 text-center">
        <div class="figure" (click)="viewImage('How to create a patient information', 'run-onco-patient-management-02')">
            <img [attr.src]="getThumbnail('run-onco-patient-management-02')" class="img-fluid" />
            <div class="caption">Click to enlarge image</div>
        </div>
        <strong>Figure 2</strong>
    </div>
    <div class="col-md-4">
        <blockquote>
            <span>
                <label class="font-bold">Figure 2</label>: Screenshots demonstrating how to manage patient information through RUN-ONCO.
                 (A) enter new patient information,
                 (B) add survival follow up by clicking on the "+ Add" button,
                 and (C) the survival follow up data is automatically updated.
            </span>
        </blockquote>
    </div>
</div>
