<app-breadcrumb [items]="breadcrumbs"></app-breadcrumb>

<h2 class="page-title">Master Data</h2>
<hr class="side">

<div class="category margin-top-20">
    <ul>
        <li class="item-element">
            <a href="javascript:;" [routerLink]="['/master-data/icd-search']">ICD</a>
        </li>
        <li>
            <a href="javascript:;" [routerLink]="['/master-data/icd-o-search']">ICD-O</a>
        </li>
        <li>
            <a href="javascript:;" [routerLink]="['/master-data/dynamic-content-search']">Dynamic Component</a>
        </li>
        <li>
            <a href="javascript:;" [routerLink]="['/master-data/data-anlys-search']">Data Analysis</a>
        </li>
        <li>
            <a href="javascript:;" [routerLink]="['/master-data/user-search']">User</a>
        </li>
    </ul>
</div>
