    ::ng-deep .data-table-header {
        min-height: 25px;
        margin-bottom: 10px;
    }
    ::ng-deep .title {
        display: inline-block;
        margin: 5px 0 0 5px;
    }
    ::ng-deep .button-panel {
        float: right;
    }
    ::ng-deep .button-panel button {
        outline: none !important;
    }

    ::ng-deep .column-selector-wrapper {
        position: relative;
    }
    ::ng-deep .column-selector-box {
        box-shadow: 0 0 10px lightgray;
        width: 150px;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 1px;
        z-index: 1060;
    }
    ::ng-deep .column-selector-box .checkbox {
        margin-bottom: 4px;
    }
    ::ng-deep .column-selector-fixed-column {
        font-style: italic;
    }
