    /deep/ .select-column {
        text-align: center;
    }

    /deep/ .row-expand-button {
        cursor: pointer;
        text-align: center;
    }

    /deep/ .clickable {
        cursor: pointer;
    }