    ::ng-deep .select-column {
        text-align: center;
    }

    ::ng-deep .row-expand-button {
        cursor: pointer;
        text-align: center;
    }

    ::ng-deep .clickable {
        cursor: pointer;
    }