<div class="modal-header">
    <h4 class="modal-title pull-left">ICD</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="icdForm" class="form-horizontal">
        <input type="hidden" formControlName="dataVerId" />
        <div class="row">
            <div class="form-group col-md-6" formControlValidator [control]="icdForm?.controls['version']" [submitted]="submitted">
                <label class="font-bold">Version</label>
                <input type="text" class="form-control" formControlName="version" (blur)="checkDuplicateVersion()" />
                <span class="help-block with-errors"></span>
            </div>
            <div class="form-group col-md-6" formControlValidator [control]="icdForm?.controls['dataDate']" [submitted]="submitted">
                <label class="font-bold">Data Date</label>
                <div class="input-group datepicker-input">
                    <input class="form-control" placeholder="{{ constants.DATE_FORMAT_DEFAULT }}" formControlName="dataDate"
                        #dpYMD="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass:'theme-dark-blue' }"
                        (change)="isDateInvalid('dataDate')" [minDate]="minDate">
                    <span class="input-group-addon">
                        <button class=" btn default calendar" type="button" (click)="dpYMD.toggle()" [attr.aria-expanded]="dpYMD.isOpen">
                            <span class="fa fa-calendar"></span>
                        </button>
                    </span>
                </div>
                <span class="help-block with-errors"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6" formControlValidator [control]="icdForm?.controls['markAsDefault']" [submitted]="submitted">
                <input type="checkbox" formControlName="markAsDefault" />&nbsp;<label class="font-bold">Mark as default</label>
                <span class="help-block with-errors"></span>
            </div>
        </div>

        <ng-container *ngIf="!isEdit">
            <!-- File Upload -->
            <div class="uploadfile-outer">
                <div class="uploadfile-inner">
                    <div class="uploadfile-container" (click)="fileInput.click()" fileDrop (onFileDropped)="handleFileSelect($event)">
                        <input id="importFile" hidden type="file" #fileInput (change)="handleFileSelect($event.target.files)">
                        <div><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</div>
                    </div>
                </div>
            </div>
            <div class="file-list">
                <div *ngIf="file" class="file-detail">
                    <div class="pull-left">{{ file?.name }}</div>
                    <div class="pull-right">
                        <button class="delete-file" (click)="deleteAttachment()">
                            <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <span *ngIf="errorMessage" class="help-block with-errors margin-top-10">{{ errorMessage }}</span>
        </ng-container>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn default btn-medium" (click)="bsModalRef.hide()" translate="cancel"></button>
    <button type="button" class="btn green btn-medium" (click)="onSave()" translate="save"></button>
</div>
