<div class="row">
    <div class="col-md-8 text-center">
        <div class="figure" (click)="viewImage('How to create new biospecimen', 'run-onco-biospecimen-management-01')">
            <img [attr.src]="getThumbnail('run-onco-biospecimen-management-01')" class="img-fluid" />
            <div class="caption">Click to enlarge image</div>
        </div>
        <strong>Figure 1</strong>
    </div>
    <div class="col-md-4">
        <blockquote>
            <span>
                <strong>Figure 1</strong>: Screenshots demonstrating how to access biospecimen form.
                (A) First, click on the "Biospecimen" link from the top menu bar.
                To create new biospecimen, click "+ Add" button on the top right of table,
                and (B) enter existing HN (e.g., HN620001), then click "+ Add" button.
            </span>
        </blockquote>
    </div>
</div>
<div class="row margin-top-10">
    <div class="col-md-8 text-center">
        <div class="figure" (click)="viewImage('How to enter data in biospecimen form', 'run-onco-biospecimen-management-02')">
            <img [attr.src]="getThumbnail('run-onco-biospecimen-management-02')" class="img-fluid" />
            <div class="caption">Click to enlarge image</div>
        </div>
        <strong>Figure 2</strong>
    </div>
    <div class="col-md-4">
        <blockquote>
            <span>
                <strong>Figure 2</strong>: Screenshot demonstrating biospecimen form in RUN-ONCO.
            </span>
        </blockquote>
    </div>
</div>
