.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff!important;
    background-color: #FF8300!important;
}

.nav-pills a {
    color: #337ab7;
    text-decoration: none;
    font-family: "GothamBold", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.nav>li>a {
    padding: 10px 15px!important;
    font-size: 14px!important;
}
.nav>li, .nav>li>a {
    display: block!important;
    position: relative!important;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none!important;
    background-color: #eee!important;
}

.nav.nav-pills {
    border-bottom: 1px solid #FF8300!important;
}

.nav-pills.tablist>li.active>a, .nav-pills.tablist>li.active>a:focus, .nav-pills.tablist>li.active>a:hover {
    color: #fff!important;
    // background-color: #000!important;
    background:transparent!important;
    border-top: 3px solid #FF8300!important;
    color: #555!important;
}

.nav.tablist>li.active {
    // border: 1px solid #000!important;
    // border-style: solid solid solid none!important;
    border:1px solid #d4d4d4!important;
    border-style: solid solid none solid!important;
    bottom: -1px!important;
    position: relative;
    background: #FFF!important;
}

.nav.tablist>li:not(.active) {
    bottom: -4px!important;
    position: relative;
}

.nav.nav-pills.tablist {
    border-bottom: 1px solid #d4d4d4!important;
}
