<!-- <footer class="container-fluid"><p>RUN ONCO: An integrative software platform for cancer precision medicine.</p></footer> -->
<div class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="col-md-4 footer-title">INFO</div>
            <div class="col-md-4 footer-title">DEV</div>
            <div class="col-md-4 footer-title">CONTACT</div>
        </div>
        <div class="row margin-top-10">
            <div class="col-md-4 footer-detail">
                <a href="javascript:;" [routerLink]="['/view-tutorial']">View Tutorial</a>
            </div>
            <div class="col-md-4 footer-detail">
                <a href="https://gitlab.com/peyrone/run-onco.git">GitLab</a>
            </div>
            <div class="col-md-4 footer-detail">
                <a href="mailto:peyrone.n@gmail.com">peyrone.n@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="pull-right build-version">
        v{{ buildVersion }}
    </div>
</div>
