/deep/ app-footer {
    .footer {
        width: 100%;
        background: #f7f7f7;
        margin-top: 50px;
    }
    .footer-container {
        position: relative;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer-title {
        color: #666666;
        font-weight: 700;
    }
    .footer-detail a {
        color: #999999;
    }
    .title {
        color: #666666 !important;
    }
    .build-version {
        // right: 10px;
        // bottom: 2px;
        // position: absolute;
        margin-top: -12px;
        margin-right: 5px;
        color: #999999;
    }
}
